<html>
  <head>
    <meta charset="utf-8">
    <title>Directory listing for {{current_dir}}</title>
  </head>
  <body>
    <h1>Directory listing for {{current_dir}}</h1>
    <hr>
    <ul>
      {{#links}}
      <li><a href='{{url}}'>{{name}}</a></li>
      {{/links}}
    </ul>
    <hr>
  </body>
</html>
